/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../images/background.png');
    background-attachment: fixed;
    color: white;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.icon {
    height: 80px;
    width: 80px;
}

.itembg {
    background-size: 80px 80px;
    background-repeat: no-repeat;
}

.tier1 {
    background-image: url('../images/Tier1BG.png');
}

.tier2 {
    background-image: url('../images/Tier2BG.png');
}

.tier3 {
    background-image: url('../images/Tier3BG.png');
}

.equipment {
    background-image: url('../images/EquipmentBG.png');
}

.lunar {
    background-image: url('../images/LunarBG.png');
}

.boss {
    background-image: url('../images/BossBG.png');
}

/* make font for item type selection and search input black so text is visible against white background */
select, input {
    color: black;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
 
}
