
@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="row text-light">
        <div class="col-md-12">
            <h2 class="text-light">
                Hello @User.Identity.Name
            </h2>
            <form asp-action="Login" method="post">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" id="userName" name="userName" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter password">
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-outline-success" />
                    <a class="btn btn-outline-info" asp-controller="Items" asp-action="Index">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>