
@{
    ViewData["Title"] = "About";
}

    <div class="text-light">
        <h2>@ViewData["Title"]</h2>

        <hr />
        <h3>What is Risk of Rain 2?</h3>
        <p>Risk of Rain 2 is a 3D multiplayer third-person shooter roguelike video game developed by Hopoo Games and published by Gearbox Publishing. It is the sequel to Risk of Rain, released in an early access version on March 28, 2019, on Steam for Microsoft Windows. You can purchase it <a href="https://store.steampowered.com/app/632360/Risk_of_Rain_2/"><b>here</b></a>!</p>

        <h3>Who am I?</h3>
        <p>My name is Daniel Bedggood. I am a kiwi computer science student at the University of Auckland, graduating around June 2019. I love video games and I enjoy coding up random projects in my spare time. If you want to have a look at my other projects, my Github account is <a href="https://github.com/dbedggood"><b>here</b></a>.</p>

        <h3>Why did I make this?</h3>
        <p>The original Risk of Rain was the game that first got me interested in roguelikes, I played it a lot back in 2013 when it came out and I still come back to it every now and then. Risk of rain 2 is an amazing sequel that somehow keeps the core mechanics of the game, and makes it all work in 3D. Long story short, I'm in love with this game and I wanted to make something to practice my web development skills.</p>

        <h3>How did I make this?</h3>
        <p>This project is made with ASP.NET Core MVC and is hosted on Azure. I started off following the tutorial  <a href="https://docs.microsoft.com/en-nz/aspnet/core/tutorials/first-mvc-app/"><b>here</b></a>, then started doing my own thing after I figured out how it all worked. I created this project in the Visual Studio 2019 Community IDE on Windows.</p>
    </div>
